.test{
    border: 4px solid red;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    height: 150px;
    text-align: center;
    font-size: 25px;
    margin: 5px;
    font-style: italic;
    color: rgb(95, 4, 95);
    position: relative;
    left: 400px;
    text-shadow: 1px 1px;
}
.test1{
    border: 8px solid rgb(61, 141, 61);
    height: 650px;

}
.test2{
    border: 4px solid red;
    width: 300px;
    height: 200px ;
    text-align: center;
    font-size: 23px;
    margin: 5px;
    padding-top: 8px;
    background-color: white;
    color: rgb(95, 4, 95);
    text-shadow: 1px 1px;
}
.test3{
    border: 4px solid red;
    width: 300px;
    height: 200px ;
    text-align: center;
    font-size: 23px;
    margin: 5px;
    padding-top: 8px;
    background-color: white;
    color: rgb(95, 4, 95);
    position: relative;
    bottom: 220px;
    left: 830px;
    text-shadow: 1px 1px;
}
.test4{
    border: 4px solid red;
    width: 300px;
    height: 200px ;
    text-align: center;
    font-size: 23px;
    margin: 5px;
    padding-top: 8px;
    background-color: white;
    color: rgb(95, 4, 95);
    position: relative;
    bottom: 100px;
    text-shadow: 1px 1px;

}
.test5{
    border: 4px solid red;
    width: 300px;
    height: 250px ;
    text-align: center;
    font-size: 23px;
    background-color: white;
    color: rgb(95, 4, 95);
    box-sizing: border-box;
    position: relative;
    bottom: 320px;
    left: 830px;
    text-shadow: 1px 1px;
}
.test6{
    border: 4px solid red;
    background-color: rgb(105, 170, 105);
    width: 400px;
    height: 100;
    color: brown;
    border-radius: 20px;
    position: fixed;
    bottom: 50px;
    left: 430px;
    z-index: +1;
    
}
h3{
    display: inline-block;
    margin-left: 5px;
}
p{
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 30px;
}
.parent{
    border: 4px solid rgb(100, 5, 100);
    background-color: green;
    text-align: center;
    width: 620px;
    position: relative;
    left: 300px;
}
.child{
    display: inline-block;
    border: 2px solid silver;
    background-color: rgb(240, 205, 160);
     width: 300px;
     height: 250px;
    
}
.child1{
    display: inline-block;
    border: 2px solid silver;
    background-color: rgb(240, 205, 160);
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    
}
.child2{
    border: 2px solid silver;
    background-color: rgb(240, 205, 160);
    width: 600px;
    height: 200px;
}